<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.binzhou.zhy.mapper.CategoryMapper">

	<!--实体映射-->
	<resultMap id="categoryResultMap" type="com.binzhou.zhy.entity.Category">
		<!--分类自增ID-->
		<id property="id" column="id" />
		<!--分类名称-->
		<result property="name" column="name" />
		<!---->
		<result property="userId" column="userId" />
		<!--分类父级ID-->
		<result property="parentId" column="parent_id" />
		<!--排序号-->
		<result property="sort" column="sort" />
		<!---->
		<result property="key" column="key" />
		<!--是否显示（1显示，0不显示）-->
		<result property="ifShow" column="if_show" />
		<!---->
		<result property="isUse" column="is_use" />
		<!---->
		<result property="type" column="type" />
		<!---->
		<result property="level" column="level" />
		<!---->
		<result property="icon" column="icon" />
		<!--创建者-->
		<result property="creator" column="creator" />
		<!--创建时间-->
		<result property="gmtCreate" column="gmt_create" />
		<!--修改者-->
		<result property="modifier" column="modifier" />
		<!--修改时间-->
		<result property="gmtModified" column="gmt_modified" />
		<!--状态，0正常，1审核中，2审核不通过-->
		<result property="status" column="status" />
		<!--0:生效，-1:待生效-->
		<result property="operStatus" column="oper_status" />
		<!--是否删除(0、正常，-1删除)-->
		<result property="isDeleted" column="is_deleted" />
		<!---->
		<result property="version" column="version" />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id,	`name`,	userId,	parent_id,	sort,	`key`,	if_show,is_use,type,	`level`,	icon,	creator,	gmt_create,	modifier,	gmt_modified,	`status`,	oper_status,	is_deleted,	version
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.binzhou.zhy.entity.Category" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM zhy_category
		 WHERE id = #{id}
	</select>

	<!-- 查询（根据条件查询） -->
	<select id="selectListByOption" resultMap="categoryResultMap" parameterType="com.binzhou.zhy.entity.Category">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM zhy_category
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		 DELETE FROM zhy_category
		 WHERE id = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.binzhou.zhy.entity.Category">
		 INSERT INTO zhy_category
 		(id,name,userId,parent_id,sort,key,if_show,is_use,type,level,icon,creator,gmt_create,modifier,gmt_modified,status,oper_status,is_deleted,version) 
		 VALUES 
 		(#{id},#{name},#{userId},#{parentId},#{sort},#{key},#{ifShow},#{isUse},#{type},#{level},#{icon},#{creator},#{gmtCreate},#{modifier},#{gmtModified},#{status},#{operStatus},#{isDeleted},#{version}) 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.binzhou.zhy.entity.Category">
		 INSERT INTO zhy_category
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				 id,
			</if>
			<if test="name != null">
				 name,
			</if>
			<if test="userId != null">
				 userId,
			</if>
			<if test="parentId != null">
				 parent_id,
			</if>
			<if test="sort != null">
				 sort,
			</if>
			<if test="key != null">
				 key,
			</if>
			<if test="ifShow != null">
				 if_show,
			</if>
			<if test="isUse != null">
				 is_use,
			</if>
			<if test="type != null">
				 type,
			</if>
			<if test="level != null">
				 level,
			</if>
			<if test="icon != null">
				 icon,
			</if>
			<if test="creator != null">
				 creator,
			</if>
			<if test="gmtCreate != null">
				 gmt_create,
			</if>
			<if test="modifier != null">
				 modifier,
			</if>
			<if test="gmtModified != null">
				 gmt_modified,
			</if>
			<if test="status != null">
				 status,
			</if>
			<if test="operStatus != null">
				 oper_status,
			</if>
			<if test="isDeleted != null">
				 is_deleted,
			</if>
			<if test="version != null">
				 version,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				 #{id},
			</if>
			<if test="name!=null">
				 #{name},
			</if>
			<if test="userId!=null">
				 #{userId},
			</if>
			<if test="parentId!=null">
				 #{parentId},
			</if>
			<if test="sort!=null">
				 #{sort},
			</if>
			<if test="key!=null">
				 #{key},
			</if>
			<if test="ifShow!=null">
				 #{ifShow},
			</if>
			<if test="isUse!=null">
				 #{isUse},
			</if>
			<if test="type!=null">
				 #{type},
			</if>
			<if test="level!=null">
				 #{level},
			</if>
			<if test="icon!=null">
				 #{icon},
			</if>
			<if test="creator!=null">
				 #{creator},
			</if>
			<if test="gmtCreate!=null">
				 #{gmtCreate},
			</if>
			<if test="modifier!=null">
				 #{modifier},
			</if>
			<if test="gmtModified!=null">
				 #{gmtModified},
			</if>
			<if test="status!=null">
				 #{status},
			</if>
			<if test="operStatus!=null">
				 #{operStatus},
			</if>
			<if test="isDeleted!=null">
				 #{isDeleted},
			</if>
			<if test="version!=null">
				 #{version},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.binzhou.zhy.entity.Category">
		 UPDATE zhy_category
 		 <set> 
			<if test="name != null">
				 name = #{name},
			</if>
			<if test="userId != null">
				 userId = #{userId},
			</if>
			<if test="parentId != null">
				 parent_id = #{parentId},
			</if>
			<if test="sort != null">
				 sort = #{sort},
			</if>
			<if test="key != null">
				 key = #{key},
			</if>
			<if test="ifShow != null">
				 if_show = #{ifShow},
			</if>
			<if test="isUse != null">
				 is_use = #{isUse},
			</if>
			<if test="type != null">
				 type = #{type},
			</if>
			<if test="level != null">
				 level = #{level},
			</if>
			<if test="icon != null">
				 icon = #{icon},
			</if>
			<if test="creator != null">
				 creator = #{creator},
			</if>
			<if test="gmtCreate != null">
				 gmt_create = #{gmtCreate},
			</if>
			<if test="modifier != null">
				 modifier = #{modifier},
			</if>
			<if test="gmtModified != null">
				 gmt_modified = #{gmtModified},
			</if>
			<if test="status != null">
				 status = #{status},
			</if>
			<if test="operStatus != null">
				 oper_status = #{operStatus},
			</if>
			<if test="isDeleted != null">
				 is_deleted = #{isDeleted},
			</if>
			<if test="version != null">
				 version = #{version},
			</if>

 		 </set>
		 WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.binzhou.zhy.entity.Category">
		 UPDATE zhy_category
		 SET 
			 name = #{name},
			 userId = #{userId},
			 parent_id = #{parentId},
			 sort = #{sort},
			 key = #{key},
			 if_show = #{ifShow},
			 is_use = #{isUse},
			 type = #{type},
			 level = #{level},
			 icon = #{icon},
			 creator = #{creator},
			 gmt_create = #{gmtCreate},
			 modifier = #{modifier},
			 gmt_modified = #{gmtModified},
			 status = #{status},
			 oper_status = #{operStatus},
			 is_deleted = #{isDeleted},
			 version = #{version}
		 WHERE id = #{id}
	</update>

</mapper>