<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.binzhou.zhy.mapper.OrderMapper">

    <resultMap id="orderResultMap" type="com.binzhou.zhy.entity.OrderDO">
        <result property="orderId" column="order_id"/>
        <result property="orderNo" column="order_no"/>
    </resultMap>

    <parameterMap id="orderParamMap" type="com.binzhou.zhy.entity.OrderDO">
        <parameter property="orderId" resultMap="orderResultMap"/>
    </parameterMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
		 order_id,	order_no,	shop_id,	order_status,	product_count,	product_amount_total,	order_amount_total,	logistics_fee,	is_unpacking_inspection,	open_invoice,	invoice_id,	address_id,	orderlogistics_id,	pay_channel,	out_trade_no,	created_time,	pay_time,	delivery_time,	user_id,	customer_remark,	order_settlement_status,	order_settlement_time,	is_deleted,	oper_status,	status,	gmt_create,	gmt_modified,	modifier,	version
	</sql>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectByPrimaryKey" resultType="com.binzhou.zhy.entity.OrderDO" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List" />
        FROM zhy_order
        WHERE order_id = #{orderId}
    </select>

    <!-- 查询-->
    <select id="selecOrdertListByParam" resultMap="orderResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM zhy_order
        WHERE 1=1
    </select>

    <!--删除：根据主键ID删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		 DELETE FROM zhy_order
		 WHERE order_id = #{orderId}
	</delete>

    <!-- 添加 -->
    <insert id="insert" parameterType="com.binzhou.zhy.entity.OrderDO">
		 INSERT INTO zhy_order
 		(order_id,order_no,shop_id,order_status,product_count,product_amount_total,order_amount_total,logistics_fee,is_unpacking_inspection,open_invoice,invoice_id,address_id,orderlogistics_id,pay_channel,out_trade_no,created_time,pay_time,delivery_time,user_id,customer_remark,order_settlement_status,order_settlement_time,is_deleted,oper_status,status,gmt_create,gmt_modified,modifier,version)
		 VALUES
 		(#{orderId},#{orderNo},#{shopId},#{orderStatus},#{productCount},#{productAmountTotal},#{orderAmountTotal},#{logisticsFee},#{isUnpackingInspection},#{openInvoice},#{invoiceId},#{addressId},#{orderlogisticsId},#{payChannel},#{outTradeNo},#{createdTime},#{payTime},#{deliveryTime},#{userId},#{customerRemark},#{orderSettlementStatus},#{orderSettlementTime},#{isDeleted},#{operStatus},#{status},#{gmtCreate},#{gmtModified},#{modifier},#{version})
	</insert>

    <!-- 添加 （匹配有值的字段）-->
    <insert id="insertSelective" parameterType="com.binzhou.zhy.entity.OrderDO">
        INSERT INTO zhy_order
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="orderId != null">
                order_id,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="orderStatus != null">
                order_status,
            </if>
            <if test="productCount != null">
                product_count,
            </if>
            <if test="productAmountTotal != null">
                product_amount_total,
            </if>
            <if test="orderAmountTotal != null">
                order_amount_total,
            </if>
            <if test="logisticsFee != null">
                logistics_fee,
            </if>
            <if test="isUnpackingInspection != null">
                is_unpacking_inspection,
            </if>
            <if test="openInvoice != null">
                open_invoice,
            </if>
            <if test="invoiceId != null">
                invoice_id,
            </if>
            <if test="addressId != null">
                address_id,
            </if>
            <if test="orderlogisticsId != null">
                orderlogistics_id,
            </if>
            <if test="payChannel != null">
                pay_channel,
            </if>
            <if test="outTradeNo != null">
                out_trade_no,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="payTime != null">
                pay_time,
            </if>
            <if test="deliveryTime != null">
                delivery_time,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="customerRemark != null">
                customer_remark,
            </if>
            <if test="orderSettlementStatus != null">
                order_settlement_status,
            </if>
            <if test="orderSettlementTime != null">
                order_settlement_time,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="operStatus != null">
                oper_status,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="version != null">
                version,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="orderId!=null">
                #{orderId},
            </if>
            <if test="orderNo!=null">
                #{orderNo},
            </if>
            <if test="shopId!=null">
                #{shopId},
            </if>
            <if test="orderStatus!=null">
                #{orderStatus},
            </if>
            <if test="productCount!=null">
                #{productCount},
            </if>
            <if test="productAmountTotal!=null">
                #{productAmountTotal},
            </if>
            <if test="orderAmountTotal!=null">
                #{orderAmountTotal},
            </if>
            <if test="logisticsFee!=null">
                #{logisticsFee},
            </if>
            <if test="isUnpackingInspection!=null">
                #{isUnpackingInspection},
            </if>
            <if test="openInvoice!=null">
                #{openInvoice},
            </if>
            <if test="invoiceId!=null">
                #{invoiceId},
            </if>
            <if test="addressId!=null">
                #{addressId},
            </if>
            <if test="orderlogisticsId!=null">
                #{orderlogisticsId},
            </if>
            <if test="payChannel!=null">
                #{payChannel},
            </if>
            <if test="outTradeNo!=null">
                #{outTradeNo},
            </if>
            <if test="createdTime!=null">
                #{createdTime},
            </if>
            <if test="payTime!=null">
                #{payTime},
            </if>
            <if test="deliveryTime!=null">
                #{deliveryTime},
            </if>
            <if test="userId!=null">
                #{userId},
            </if>
            <if test="customerRemark!=null">
                #{customerRemark},
            </if>
            <if test="orderSettlementStatus!=null">
                #{orderSettlementStatus},
            </if>
            <if test="orderSettlementTime!=null">
                #{orderSettlementTime},
            </if>
            <if test="isDeleted!=null">
                #{isDeleted},
            </if>
            <if test="operStatus!=null">
                #{operStatus},
            </if>
            <if test="status!=null">
                #{status},
            </if>
            <if test="gmtCreate!=null">
                #{gmtCreate},
            </if>
            <if test="gmtModified!=null">
                #{gmtModified},
            </if>
            <if test="modifier!=null">
                #{modifier},
            </if>
            <if test="version!=null">
                #{version},
            </if>
        </trim>
    </insert>

    <!-- 修 改-->
    <update id="updateByPrimaryKeySelective" parameterType="com.binzhou.zhy.entity.OrderDO">
        UPDATE zhy_order
        <set>
            <if test="orderNo != null">
                order_no = #{orderNo},
            </if>
            <if test="shopId != null">
                shop_id = #{shopId},
            </if>
            <if test="orderStatus != null">
                order_status = #{orderStatus},
            </if>
            <if test="productCount != null">
                product_count = #{productCount},
            </if>
            <if test="productAmountTotal != null">
                product_amount_total = #{productAmountTotal},
            </if>
            <if test="orderAmountTotal != null">
                order_amount_total = #{orderAmountTotal},
            </if>
            <if test="logisticsFee != null">
                logistics_fee = #{logisticsFee},
            </if>
            <if test="isUnpackingInspection != null">
                is_unpacking_inspection = #{isUnpackingInspection},
            </if>
            <if test="openInvoice != null">
                open_invoice = #{openInvoice},
            </if>
            <if test="invoiceId != null">
                invoice_id = #{invoiceId},
            </if>
            <if test="addressId != null">
                address_id = #{addressId},
            </if>
            <if test="orderlogisticsId != null">
                orderlogistics_id = #{orderlogisticsId},
            </if>
            <if test="payChannel != null">
                pay_channel = #{payChannel},
            </if>
            <if test="outTradeNo != null">
                out_trade_no = #{outTradeNo},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime},
            </if>
            <if test="payTime != null">
                pay_time = #{payTime},
            </if>
            <if test="deliveryTime != null">
                delivery_time = #{deliveryTime},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="customerRemark != null">
                customer_remark = #{customerRemark},
            </if>
            <if test="orderSettlementStatus != null">
                order_settlement_status = #{orderSettlementStatus},
            </if>
            <if test="orderSettlementTime != null">
                order_settlement_time = #{orderSettlementTime},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="operStatus != null">
                oper_status = #{operStatus},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified},
            </if>
            <if test="modifier != null">
                modifier = #{modifier},
            </if>
            <if test="version != null">
                version = #{version},
            </if>

        </set>
        WHERE order_id = #{orderId}
    </update>

    <!-- 修 改-->
    <update id="updateByPrimaryKey" parameterType="com.binzhou.zhy.entity.OrderDO">
		 UPDATE zhy_order
		 SET
			 order_no = #{orderNo},
			 shop_id = #{shopId},
			 order_status = #{orderStatus},
			 product_count = #{productCount},
			 product_amount_total = #{productAmountTotal},
			 order_amount_total = #{orderAmountTotal},
			 logistics_fee = #{logisticsFee},
			 is_unpacking_inspection = #{isUnpackingInspection},
			 open_invoice = #{openInvoice},
			 invoice_id = #{invoiceId},
			 address_id = #{addressId},
			 orderlogistics_id = #{orderlogisticsId},
			 pay_channel = #{payChannel},
			 out_trade_no = #{outTradeNo},
			 created_time = #{createdTime},
			 pay_time = #{payTime},
			 delivery_time = #{deliveryTime},
			 user_id = #{userId},
			 customer_remark = #{customerRemark},
			 order_settlement_status = #{orderSettlementStatus},
			 order_settlement_time = #{orderSettlementTime},
			 is_deleted = #{isDeleted},
			 oper_status = #{operStatus},
			 status = #{status},
			 gmt_create = #{gmtCreate},
			 gmt_modified = #{gmtModified},
			 modifier = #{modifier},
			 version = #{version}
		 WHERE order_id = #{orderId}
	</update>



</mapper>