<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.binzhou.zhy.mapper.ShoppingCartMapper">

	<resultMap id="baseResultMap" type="com.binzhou.zhy.entity.ShoppingCart">
		<result property="id" column="id"/>
		<result property="userId" column="user_id"/>
		<result property="shopId" column="shop_id"/>
		<result property="productId" column="product_id"/>
		<result property="isProductExists" column="is_product_exists"/>
		<result property="number" column="number"/>
		<result property="createdTime" column="created_time"/>
		<result property="specId" column="spec_id"/>
		<result property="specification" column="specification"/>
		<result property="price" column="price"/>
		<result property="quantity" column="quantity"/>
		<result property="goodsImage" column="goods_image"/>
	</resultMap>

	<parameterMap id="baseParamMap" type="com.binzhou.zhy.entity.ShoppingCart">
		<parameter property="userId" resultMap="baseResultMap"/>
	</parameterMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id,	user_id,	shop_id,	product_id,	is_product_exists,	number,	created_time,	spec_id,	specification,	price,	quantity,	goods_image
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.binzhou.zhy.entity.ShoppingCart" parameterType="java.lang.Integer">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM zhy_shopping_cart
		 WHERE id = #{id}
	</select>


	<select id="selectCartListByParam" resultMap="baseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM zhy_shopping_cart
		WHERE 1=1
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		 DELETE FROM zhy_shopping_cart
		 WHERE id = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.binzhou.zhy.entity.ShoppingCart">
		 INSERT INTO zhy_shopping_cart
 		(id,user_id,shop_id,product_id,is_product_exists,number,created_time,spec_id,specification,price,quantity,goods_image) 
		 VALUES 
 		(#{id},#{userId},#{shopId},#{productId},#{isProductExists},#{number},#{createdTime},#{specId},#{specification},#{price},#{quantity},#{goodsImage}) 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.binzhou.zhy.entity.ShoppingCart">
		 INSERT INTO zhy_shopping_cart
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				 id,
			</if>
			<if test="userId != null">
				 user_id,
			</if>
			<if test="shopId != null">
				 shop_id,
			</if>
			<if test="productId != null">
				 product_id,
			</if>
			<if test="isProductExists != null">
				 is_product_exists,
			</if>
			<if test="number != null">
				 number,
			</if>
			<if test="createdTime != null">
				 created_time,
			</if>
			<if test="specId != null">
				 spec_id,
			</if>
			<if test="specification != null">
				 specification,
			</if>
			<if test="price != null">
				 price,
			</if>
			<if test="quantity != null">
				 quantity,
			</if>
			<if test="goodsImage != null">
				 goods_image,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				 #{id},
			</if>
			<if test="userId!=null">
				 #{userId},
			</if>
			<if test="shopId!=null">
				 #{shopId},
			</if>
			<if test="productId!=null">
				 #{productId},
			</if>
			<if test="isProductExists!=null">
				 #{isProductExists},
			</if>
			<if test="number!=null">
				 #{number},
			</if>
			<if test="createdTime!=null">
				 #{createdTime},
			</if>
			<if test="specId!=null">
				 #{specId},
			</if>
			<if test="specification!=null">
				 #{specification},
			</if>
			<if test="price!=null">
				 #{price},
			</if>
			<if test="quantity!=null">
				 #{quantity},
			</if>
			<if test="goodsImage!=null">
				 #{goodsImage},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.binzhou.zhy.entity.ShoppingCart">
		 UPDATE zhy_shopping_cart
 		 <set> 
			<if test="userId != null">
				 user_id = #{userId},
			</if>
			<if test="shopId != null">
				 shop_id = #{shopId},
			</if>
			<if test="productId != null">
				 product_id = #{productId},
			</if>
			<if test="isProductExists != null">
				 is_product_exists = #{isProductExists},
			</if>
			<if test="number != null">
				 number = #{number},
			</if>
			<if test="createdTime != null">
				 created_time = #{createdTime},
			</if>
			<if test="specId != null">
				 spec_id = #{specId},
			</if>
			<if test="specification != null">
				 specification = #{specification},
			</if>
			<if test="price != null">
				 price = #{price},
			</if>
			<if test="quantity != null">
				 quantity = #{quantity},
			</if>
			<if test="goodsImage != null">
				 goods_image = #{goodsImage},
			</if>

 		 </set>
		 WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.binzhou.zhy.entity.ShoppingCart">
		 UPDATE zhy_shopping_cart
		 SET 
			 user_id = #{userId},
			 shop_id = #{shopId},
			 product_id = #{productId},
			 is_product_exists = #{isProductExists},
			 number = #{number},
			 created_time = #{createdTime},
			 spec_id = #{specId},
			 specification = #{specification},
			 price = #{price},
			 quantity = #{quantity},
			 goods_image = #{goodsImage}
		 WHERE id = #{id}
	</update>

</mapper>